In [23]:
import numpy as np
import pandas as pd
import math
import seaborn as sns
import itertools
import matplotlib.pyplot as plt
from collections import Counter

In [50]:
df = pd.read_csv('movie_bd_v5.csv')
df.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
750,tt1486185,42000000,89162162,Red Riding Hood,Amanda Seyfried|Gary Oldman|Billy Burke|Shiloh...,Catherine Hardwicke,Who's afraid?,"Valerie is in love with a brooding outsider, P...",100,Thriller,Appian Way|Warner Bros.|Random Films,3/11/2011,5.5,2011
1881,tt0213790,24000000,13700000,The Ladies Man,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,Reginald Hudlin,He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,5.4,2000
1079,tt1876451,14000000,24637469,Sparkle,Whitney Houston|Cee Lo Green|Derek Luke|Mike E...,Salim Akil,Celebrate the legend.,"Musical prodigy, Sparkle (Jordin Sparks) strug...",116,Drama|Music,TriStar Pictures|Phoenix Pictures|Stage 6 Film...,8/17/2012,5.9,2012
1264,tt1661382,40000000,44907260,Grudge Match,Robert De Niro|Sylvester Stallone|Alan Arkin|J...,Peter Segal,DeNiro vs Stallone,A pair of aging boxing rivals are coaxed out o...,113,Comedy,Gerber Pictures|Warner Bros.,12/25/2013,6.0,2013
1192,tt1411250,38000000,98337295,Riddick,Vin Diesel|Karl Urban|Katee Sackhoff|Jordi Mol...,David Twohy,Survival Is His Revenge,Betrayed by his own kind and left for dead on ...,119,Science Fiction|Action|Thriller,One Race Productions|Radar Pictures|Riddick Ca...,9/2/2013,6.2,2013

In [51]:
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [29]:
answers = {} # создадим словарь для ответов

# подсчитываем прибыль, равную разности сбора и бюджета
df['profit'] = df.apply(lambda row: row.revenue - row.budget, axis = 1)   

# создаем функцию которая возвращает объект DataFrame c разъединёнными элементами столбца col
def df_explode(df, col, cnt = False):
    df[col] = df[col].str.split('|')
    df = df.explode(col)
    if cnt: 
        return df[col].value_counts()
    return df

# преобразуем release_date в формат месяц/день/год
pd.to_datetime(df['release_date'], format='%m/%d/%Y')

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'

In [10]:
# Копируем DataFrame, выводим название фильма, фильтруя его по максимальному бюджету.
df1 = df.copy()
df1 = df1.original_title[df1.budget == df1.budget.max()]
df1

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [16]:
# 2-ой вариант решения
df1 = df.copy()
df1[df1.budget == df1.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
answers['2'] = '2.Gods and Generals'

In [12]:
# Копируем DataFrame, выводим название фильма, фильтруя его по максимальной длительности фильма. 
df2 = df.copy()
df2 = df2.original_title[df2.runtime == df2.runtime.max()]
df2

1157    Gods and Generals
Name: original_title, dtype: object

In [17]:
df2 = df.copy()
df2 [df2.runtime == df2.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = '3.Winnie the Pooh'

In [19]:
# Копируем DataFrame, выводим название фильма, фильтруя его по минимальной длительности фильма.
df3 = df.copy()
df3 = df3.original_title[df3.runtime == df3.runtime.min()]
df3

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = '2. 110'

In [23]:
# Копируем DataFrame, применяем функцию среднего к длительности фильмов, округляем до ближайщего целого. 
df4 = df.copy()
df4 = df4.runtime.mean()
print(math.ceil(df4))

110

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = '1. 107'

In [9]:
# Копируем DataFrame, применяем функцию медианы к длительности фильмов, выводим значение. 
df5 = df.copy()
df5 = df5.runtime.median()
display (df5)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
answers['6'] = '5.Avatar'

In [27]:
# Копируем DataFrame, выводим название фильма, фильтруя его по максимальной прибыли. 
    
df6 = df.copy()
df6 = df6.original_title[df.profit == df.profit.max()]
display (df6)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = '5.The Lone Ranger'

In [14]:
# Копируем DataFrame, выводим название фильма, фильтруя его по минимальной прибыли.       
df7 = df.copy()     
df7 = df7.original_title[df7.profit == df7.profit.min()]
display (df7)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = '1.1478'

In [29]:
# Копируем DataFrame, подсчитываем количество фильмов по условию, что сборы больше бюджета. Находим длину полученного DataFrame.   
df8 = df.copy()     
df8 = df8 [(df.revenue > df.budget)].index.value_counts()
len(df8)

1478

In [30]:
# Копируем DataFrame, находим длину DataFrame по услувию, что сборы больше бюджета. 
df8 = df.copy() 
len(df8[df8.revenue > df8.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = '4.The Dark Knight'

In [34]:
# Копируем DataFrame, выводим строку с название фильма применив условиегода -  2008 и взяв название с максимальным сбором.
# Выводим функцию.
df9 = df.copy() 
df9 = df9.loc[df.release_year == 2008].set_index('original_title')['revenue'].idxmax()
df9

'The Dark Knight'

In [16]:
# Копируем DataFrame, выводим название фильма применив фильтрацию по 2008 году и по максимальному сбору. 
df9 = df.copy()
df9[df9['release_year'] == 2008].query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [0]:
answers['10'] = '5.The Lone Ranger'

In [18]:
# Копируем DataFrame, выводим название фильма применив фильтрацию по периоду с 2012 по 2014 году и по минимальной прибыли.
df10 = df.copy()
df10[(df10.release_year <= 2014) & (df10.release_year >= 2012)].query('profit == profit.min()').original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
answers['11'] = '3.Drama'

In [36]:
# Копируем DataFrame, производим разбивку жанров по "|", применяем функцию explode по жанрам
# Подсчитываем количество фильмов по жанрам. Выводим первое значение
df11 = df.copy()
df11['genres'] = df11.genres.str.split('|')
df11 = df11.explode('genres')
df11 = df11['genres'].value_counts()
df11.index[0]

'Drama'

ВАРИАНТ 2

In [58]:
# Копируем DataFrame, применяем функцию df_explode по жанрам, описание которой в блоке "предобработка". 
# Выводим значение по индексу 0.
df11 = df.copy()
df11 = df_explode(df11, 'genres' , cnt = True)
df11.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = '1.Drama'

In [0]:
# Копируем DataFrame, выводим среднее значение жанров по 0-му индексу, разбивая жанры по "|" 
# и применяя условие максимальной прибыли.
df12 = df.copy()
df12[df12.profit>0].genres.str.split('|').explode().mode()[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = '5.Peter Jackson'

In [60]:
# Копируем DataFrame.
# Применяем функцию data_explode, описание которой в блоке "предобработка", которая вернет DataFrame с данными для каждого
# режиссера по одиночке. Потом применяем метод группировки по режиссеру, суммируя сборы. Сортируем по возрастанию, 
# выводим первое имя (индекс 0).
df13 = df.copy()
df13 = df_explode(df13, 'director', cnt = False)
df13.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = '3.Robert Rodriguez'

In [62]:
# Копируем DataFrame.
# Выводим среднее значение по 0 индексу имя режиссера, предварительно разбив его по  "|" 
# Условием ставим нахождение слова Action в жанрах.
df14 = df.copy()
df14[df14.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = '3.Chris Hemsworth'

In [66]:
# Копируем DataFrame.
# Делаем фильтрацию по 2012 году
# Разбиваем имена актеров по "|" 
# Делаем группировку по актерам и по сборам, суммируем, сортируем и выводим первое имя (индекс 0).
df15 = df.copy()
df15 = df15.query('release_year == 2012')
df15['cast'] = df15.cast.str.split('|')
df15 = df15.explode('cast')
df15 = df15.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue',
                                                            ascending = False)
df15.index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = '3.Matt Damon'

In [67]:
# Копируем DataFrame.
# Выводим среднее значение по 0 индексу имя актера, предварительно разбив его по  "|" 
# Условием ставим бюджет больше среднего 
df16 = df.copy()
df16[df16.budget>df16.budget.mean()].cast.str.split('|').explode().mode()[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = '2.Action'

In [68]:
# Копируем DataFrame.
# Выводим среднее значение по 0 индексу имя актера, предварительно разбив его по  "|" 
# Условием ставим нахождение имя актера Nicolas Cage
df17 = df.copy()
df17[df17.cast.str.contains("Nicolas Cage")].genres.str.split('|').explode().mode()[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = '1.K-19: The Widowmaker'

In [72]:
# Копируем DataFrame.
# Разбиваем production_companies по "|" 
# Делаем фильтрацию по Paramount Pictures
# Делаем группировку по названию фильма и по прибыли, суммируем, сортируем и выводим первое имя (индекс 0).

df18 = df.copy()
df18.production_companies = df18.production_companies.str.split('|')
df18 = df18.explode('production_companies')
df18 = df18 [(df18.production_companies == "Paramount Pictures")]
df18 = df18.groupby(['original_title'])['profit'].sum().sort_values(ascending = True)
df18.index[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = '5.2015'

In [73]:
# Копируем DataFrame.
# Делаем группировку по году выпуска фильма и по сборам, суммируем, сортируем и выводим первое имя (индекс 0).
df19 = df.copy()
df19 = df19.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
df19.index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = '1.2014'

In [74]:
# Копируем DataFrame.
# Разбиваем production_companies по "|" 
# Задаем условие нахождения Warner Bros в production_companies
# Делаем группировку по году выпуска фильма и по прибыли, суммируем, сортируем и выводим первое имя (индекс 0).
df20 = df.copy()
df20.production_companies = df.production_companies.str.split('|')
df20 = df20.explode('production_companies')
df20 = df20 [(df20.production_companies.str.contains("Warner Bros"))]
df20 = df20.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
df20.index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = '4.Сентябрь'

In [79]:
# Копируем DataFrame.
# с помощью функции DatetimeIndex обращаемся к месяцу преобразованного в предобработке release_date
# получаем 9-ый месяц, что соответствует сентябрю
df21 = df.copy()
df21['month'] = pd.DatetimeIndex(df21['release_date']).month
df21['month'].value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = '2.450'

In [16]:
# Копируем DataFrame.
# с помощью функции release_date обращаемся к 6-му, 7-му и 8-му месяцам 
# и подсчитываем количество фильмов
df22 = df.copy()
df22['release_date'] = pd.to_datetime(df22['release_date'])
df22[df22.release_date.dt.month.isin([6, 7, 8,])].index.value_counts()

1020    1
242     1
1327    1
1501    1
1329    1
       ..
1660    1
1662    1
1667    1
644     1
0       1
Length: 450, dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = '5.Peter Jackson'

In [19]:
# Копируем DataFrame.
# с помощью функции release_date обращаемся к 12-му, 1-му и 2-му месяцам 
# и подсчитываем количество фильмов по режиссерам, предварительно разбив их по "|" 
# выводим максимальный индекс
df23 = df.copy()
df23['release_date'] = pd.to_datetime(df23['release_date'])
df23[df23.release_date.dt.month.isin([12, 1, 2,])].director.str.split('|').explode('director').value_counts().idxmax()

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = '5.Four By Two Productions'

In [40]:
# Копируем DataFrame.
# Разбиваем original_title по " " , записываем длину
# Разбиваем production_companies по " | "
# Делаем группировку по production_companies и по длине названия фильмов
# выводим среднее и максимальный индекс
df24 = df.copy()
df24['original_title_length'] = df24['original_title'].str.split(' ').str.len()
df24.production_companies = df24.production_companies.str.split('|')
df24 = df24.explode('production_companies')
df24.groupby('production_companies')['original_title_length'].mean().idxmax()

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = '3.Midnight Picture Show'

In [41]:
# Копируем DataFrame.
# Разбиваем overview по " " , записываем длину
# Разбиваем production_companies по " | "
# Делаем группировку по production_companies и по длине описания
# выводим среднее и максимальный индекс
df25 = df.copy()
df25['overview_length'] = df25['overview'].str.split(' ').str.len()
df25.production_companies = df25.production_companies.str.split('|')
df25 = df25.explode('production_companies')
df25.groupby('production_companies')['overview_length'].mean().idxmax()

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = '1.Inside Out, The Dark Knight, 12 Years a Slave'

In [22]:
# Копируем DataFrame.
# Добавляем переменную quntile, которая показывает значение квантиля для рейтингов, выше 99%.
# Далее по этому значению фильруем DataFrame.
df25 = df.copy()
quantile = df25.vote_average.quantile(q=0.99)
df25[df25.vote_average >= quantile].sort_values(by = 'vote_average', ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,12/28/2007,7.8,2007
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,9/18/2013,7.8,2013
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,7.8,2009
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,11/26/2014,7.8,2014
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = '5.Daniel Radcliffe & Rupert Grint'

In [28]:
# Копируем DataFrame.
# Разбиваем актеров по " | "
# Применяем функцию itertools.combinationsб возвращая комбинацию элементов входной последовательности
# Применяем функцию explode и выводим среднее
df27 = df.copy()
df27['cast'] = df27.cast.str.split('|')
df27.cast = df27.cast.apply(lambda x: list(itertools.combinations(sorted(x), 2)))
df27.explode('cast').cast.mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

ВАРИАНТ 2

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{}

In [31]:
# и убедиться что ни чего не пропустил)
len(answers)

0